---
interface Props {
    number: number
    title: string
    description: string
}

const { number, title, description } = Astro.props
---

<div class="bg-background p-6 rounded-xl border border-outline-variant/10 text-center relative">
    <div class="w-12 h-12 primary-gradient rounded-full flex items-center justify-center mx-auto mb-6 text-on-primary-container font-black">
        { number }
    </div>
    <h5 class="text-lg font-bold mb-2">
        { title }
    </h5>
    <p class="text-on-surface-variant text-sm">
        { description }
    </p>
</div>