---
interface Props {
    icon: string
    dataIcon: string
    title: string
    description: string
}

const { dataIcon, icon, title, description } = Astro.props
---

<div class="group flex gap-6">
    <div class="w-12 h-12 shrink-0 flex items-center justify-center rounded-lg bg-primary/10 text-primary group-hover:scale-110 group-hover:bg-primary/15 transition-all duration-300">
        <span
            class="material-symbols-outlined text-3xl"
            data-icon={ dataIcon }
        >
            { icon }
        </span>
    </div>
    <div>
        <h4 class="text-xl font-bold mb-2 text-on-surface">
            { title }
        </h4>
        <p class="text-on-surface-variant">
            { description }
        </p>
    </div>
</div>
