---
import { PUBLIC_ENVIRONMENTS } from '../../../../infrastructure/config/public-enviroments'
---
<!-- Footer -->
    <footer class="w-full py-16 px-8 border-t border-[#bc9dff]/10 bg-surface-container-low">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-12 max-w-7xl mx-auto">
            <div class="md:col-span-1">
                <div class="text-xl font-black text-white mb-4 font-headline">DEVSJEC</div>
                <p class="font-inter text-sm text-white/60 mb-6 leading-relaxed">
                    Elevando el estándar del desarrollo de software desde el corazón de los Andes.
                </p>
                <div class="flex gap-4">
                    <span class="material-symbols-outlined text-white/40 hover:text-white transition-colors"
                        data-icon="terminal">terminal</span>
                    <span class="material-symbols-outlined text-white/40 hover:text-white transition-colors"
                        data-icon="code">code</span>
                    <span class="material-symbols-outlined text-white/40 hover:text-white transition-colors"
                        data-icon="cloud">cloud</span>
                </div>
            </div>
            <div class="md:col-span-1">
                <h6 class="text-white font-bold mb-4">Navegación</h6>
                <ul class="space-y-3 font-inter text-sm">
                    <li><a class="text-white/40 hover:text-[#bc9dff] hover:translate-x-1 transition-transform inline-block"
                            href="#servicios">Servicios</a></li>
                    <li><a class="text-white/40 hover:text-[#bc9dff] hover:translate-x-1 transition-transform inline-block"
                            href="#nosotros">Nosotros</a></li>
                    <li><a class="text-white/40 hover:text-[#bc9dff] hover:translate-x-1 transition-transform inline-block"
                            href="#proyectos">Proyectos</a></li>
                </ul>
            </div>
            <div class="md:col-span-1">
                <h6 class="text-white font-bold mb-4">Contacto</h6>
                <ul class="space-y-3 font-inter text-sm">
                    <li><a class="text-white/40 hover:text-[#bc9dff] hover:translate-x-1 transition-transform inline-block"
                            href="#">{ PUBLIC_ENVIRONMENTS.COMPANY_LOCATION }</a></li>
                    <li><a class="text-white/40 hover:text-[#bc9dff] hover:translate-x-1 transition-transform inline-block"
                            href="#">{ PUBLIC_ENVIRONMENTS.COMPANY_EMAIL }</a></li>
                    <li><a class="text-white/40 hover:text-[#bc9dff] hover:translate-x-1 transition-transform inline-block"
                            href="#">{ PUBLIC_ENVIRONMENTS.COMPANY_WHATSAPP }</a></li>
                </ul>
            </div>
            <div class="md:col-span-1">
                <h6 class="text-white font-bold mb-4">Configuración</h6>
                <div class="flex items-center gap-4">
                    <!--button class="text-xs font-mono text-white/40 hover:text-[#bc9dff]">ES|EN</!--button-->
                    <button class="material-symbols-outlined text-white/40 hover:text-[#bc9dff]"
                        data-icon="dark_mode">dark_mode</button>
                </div>
            </div>
        </div>
        <div
            class="max-w-7xl mx-auto px-8 mt-16 pt-8 border-t border-white/5 flex flex-col md:flex-row justify-between items-center gap-4">
            <p class="font-inter text-sm text-white/60">© 2026 { PUBLIC_ENVIRONMENTS.COMPANY_NAME } SRL. { PUBLIC_ENVIRONMENTS.COMPANY_LOCATION }.</p>
            <!--div class="flex gap-6 font-inter text-xs text-white/40">
                <a class="hover:text-[#bc9dff]" href="#">Privacidad</a>
                <a class="hover:text-[#bc9dff]" href="#">Términos</a>
                <a class="hover:text-[#bc9dff]" href="#">Cookies</a>
            </!--div-->
        </div>
    </footer>