---
---

<header class="fixed top-0 w-full z-50 bg-[#0e0e13]/60 backdrop-blur-xl border-b border-[#bc9dff]/10 shadow-[0_20px_40px_rgba(108,63,197,0.08)]">
  <nav class="flex justify-between items-center px-8 py-4 max-w-7xl mx-auto">
    <div class="text-2xl font-black text-[#bc9dff] tracking-tighter font-headline">DEVSJEC</div>
    <div class="hidden md:flex items-center space-gap-8 gap-x-8">
      <a class="text-[#bc9dff] border-b-2 border-[#bc9dff] pb-1 font-headline font-extrabold tracking-tight"
        href="#servicios">Servicios</a>
      <a class="text-white/70 hover:text-white transition-colors font-headline font-extrabold tracking-tight"
        href="#nosotros">Nosotros</a>
      <a class="text-white/70 hover:text-white transition-colors font-headline font-extrabold tracking-tight"
        href="#equipo">Equipo</a>
      <a class="text-white/70 hover:text-white transition-colors font-headline font-extrabold tracking-tight"
        href="#proyectos">Proyectos</a>
      <a class="text-white/70 hover:text-white transition-colors font-headline font-extrabold tracking-tight"
        href="#contacto">Contacto</a>
    </div>
    <div class="flex items-center gap-4">
      <!--button
        class="hidden lg:flex items-center gap-2 text-white/70 hover:text-white transition-colors text-sm font-bold">
        ES|EN
      </!--button-->
      <button class="material-symbols-outlined text-white/70 hover:text-[#bc9dff] transition-colors"
        data-icon="dark_mode">dark_mode</button>
      <button
        class="bg-[#bc9dff] text-on-primary-container px-6 py-2.5 rounded-xl font-bold hover:scale-95 transition-transform active:scale-90">
        Trabajemos juntos
      </button>
    </div>
  </nav>
</header>