---
interface Props {
  href: string
  children: string
}

const { href, children } = Astro.props as Props
---
<a
  class="text-on-surface-variant hover:text-on-surface transition-colors duration-200 font-headline font-extrabold tracking-tight"
  href={ href }
>
  { children }
</a>