---
import Hero from '../presentation/web/components/main/sections/Hero.astro';
import Services from '../presentation/web/components/main/sections/Services.astro';
import StatsBar from '../presentation/web/components/main/sections/StatsBar.astro';
import TechStack from '../presentation/web/components/main/sections/TechStack.astro';
import WhyUs from '../presentation/web/components/main/sections/WhyUs.astro';
import NavBar from '../presentation/web/components/shared/NavBar.astro';
import Portfolio from '../presentation/web/components/main/sections/Portfolio.astro';
import MainLayout from '../presentation/web/layouts/MainLayout.astro';
import Team from '../presentation/web/components/main/sections/Team.astro';
import Process from '../presentation/web/components/main/sections/Process.astro';
import Contact from '../presentation/web/components/main/sections/Contact.astro';
import Footer from '../presentation/web/components/shared/Footer.astro';
---

<MainLayout>
  <div class="bg-background text-on-background font-body selection:bg-primary/30 selection:text-primary">
    <NavBar />
    <Hero />
    <StatsBar />
    <Services />
    <WhyUs />
    <TechStack />
    <Portfolio />
    <Team />
    <Process />
    <Contact />
    <Footer />

  </div>
</MainLayout>